# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

src/.classpath
src/.project
src/com/practice/datastructure/.gitignore
src/com/practice/datastructure/array/.gitignore
